#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: WebDev\*Module\*Presenter

	session:
		expiration: 14 days


services:
	connection:
		class: LeanMapper\Connection( %database%, ... )
	- WebDev\Model\Mapper
	- LeanMapper\DefaultEntityFactory

	- WebDev\Security\Authenticator
	- WebDev\Security\Authorizator

	- WebDev\Model\CommentRepository
	- WebDev\Model\PostRepository
	- WebDev\Model\UserRepository

	- WebDev\Routing\RouterFactory
	router: @WebDev\Routing\RouterFactory::createRouter
